--- 
layout: default 
title: Actualités 
class: actualites 
lang: fr 
ref: actualites 
---

<header class="header header--actualites">
  {% include navigation.html %}

  <div class="header__content">
    <div class="header__content">
      <h1 class="page__title">Suivez l'actualité de Geotrek</h1>
      <h2 class="page__subtitle">Restez informé des évolutions ou des nouveautés sur les sites partenaires</h2>
    </div>
  </div>
</header>

<section>
  <div class="grid actualites__breadcrumb">
    <h3 class="grid__item">
      <a href="{{ site.baseurl }}/index.html">Accueil</a> > Toutes les actualités</h3>
  </div>

  <div class="grid actualites__items">
    {% assign posts=site.posts | where:"lang", page.lang %} {% for post in posts %}
    <div class="grid__item grid__item--50 grid__item--actualite">
      <a href="{{ post.url | absolute_url }}" title="{{ post.title }}">
        <h3 class="title title--medium">{{ post.title }}</h3>
      </a>
      <p class="subtitle">{% include date.html date=post.date %}{{ month }} {{ year }}</p>
      {% if post.excerpt %}
        {{ post.excerpt }}
      {% endif %}

      {% if post.image %}
        <img src="{{ site.baseurl }}/{{ post.image }}" style="width: 100%; height: auto">
      {% endif %}
      
    </div>
    {% endfor %}
  </div>
</section>
