---
layout: default-es
title: Contact
class: contact
lang: es
ref: contact
---

<header class="header header--contact">
    {% include navigation.html %}

    <div class="header__content contact__header">
        <h1 class="page__title">Crear tu Geotrek ?</h1>
        <h2 class="page__subtitle">Nuestros expertos están disponibles para responder a tus preguntas</h2>
    </div>
</header>

<section class="contact__content">
    <div class="grid">
        <div class="grid__item grid__item--30">
            <h3 class="title title--medium">Contacto</h3>
            <p>Te invitamos a contarnos tu proyecto y estaremos encantados de contactar contigo para entender mejor tus necesidades.</p>
        </div>
        <div class="grid__item grid__item--70">
            <h3 class="title contact__content__title">Cuéntanos tu proyecto</h3>
            <input class="button" type="submit" value="Contacta con nosotros" id="feedback-form"/>
        </div>
    </div>
</section>

{% include contact_form_support.html %}