---
layout: default
title: Contact
class: contact
lang: fr
ref: contact
---

<header class="header header--contact">
    {% include navigation.html %}

    <div class="header__content contact__header">
        <h1 class="page__title">Créer votre Geotrek ?</h1>
        <h2 class="page__subtitle">Nos experts sont là pour répondre à vos questions</h2>
    </div>
</header>

<section class="contact__content">
    <div class="grid">
        <div class="grid__item grid__item--30">
            <h3 class="title title--medium">Contact</h3>
            <p>Nous vous invitons à nous donner les grandes lignes de votre projet, et nous nous ferons un plaisir de vous contacter afin de bien saisir vos besoins.</p>
        </div>
        <div class="grid__item grid__item--70">
            <h3 class="title contact__content__title">Parlez-nous de votre projet</h3>
            <input class="button" type="submit" value="Nous contacter" id="feedback-form"/>
        </div>
    </div>
</section>

{% include contact_form_support.html %}