---
layout: default
title: Accueil
class: home
lang: fr
ref: home
---
<header class="header">
  {% include navigation.html %}

  <div class="header__content home__header">
    <div class="home__header__content">
      <h1 class="sr-only">Geotrek</h1>
      <img src="assets/img/logo-home.svg" alt="Geotrek logo">
      <h2 class="home__baseline">Gérez et valorisez vos sentiers et activités touristiques</h2>
      <a href="produit.html" class="button button--white">En savoir plus</a>
    </div>
  </div>
</header>

<section class="home__intro">
  <h2 class="title home__intro__headline">Suite logicielle webmapping
    <small>composée d’un outil métier SIG, d’un site internet et d’une application&nbsp;mobile</small>
  </h2>
  <div class="grid grid--center">
    <div class="grid__item grid__item--33">
      <img class="home__image" src="assets/img/home-ui.svg" alt="">
      <h3 class="home__intro__title title">Gestion et valorisation</h3>
      <p>Ergonomique et complète, Geotrek permet une gestion et une valorisation fine du territoire à travers des fonctionnalités
        riches et innovantes</p>
    </div>
    <div class="grid__item grid__item--33">
      <img class="home__image" src="assets/img/home-apps.svg" alt="">
      <h3 class="home__intro__title title">Solution 3 en 1</h3>
      <p>Geotrek-Admin pour la gestion des données, Geotrek&#x2011;Rando pour la promotion des activités et Geotrek-Mobile sur
        le terrain constituent une offre unique et incontournable</p>
    </div>
    <div class="grid__item grid__item--33">
      <img class="home__image" src="assets/img/home-github.svg" alt="">
      <h3 class="home__intro__title title">Open source</h3>
      <p>Publiée sous licence libre BSD, Geotrek évolue grâce à sa communauté utilisatrice qui peut profiter des investissements
        réalisés en amont et l’enrichir au profit de tous</p>
    </div>
  </div>
</section>

<section class="grid utilisateurs__banner">
  <h3 class="utilisateurs__banner__text">Découvrer les utilisateurs&nbsp;?</h3>
  <a href="utilisateurs.html" class="button button--turquoise">Accès à la carte</a>
</section>

<section class="grid contact__banner">
  <h3 class="contact__banner__text">Envie d'adopter Geotrek&nbsp;?</h3>
  <a href="contact.html" class="button">Nous contacter</a>
</section>

<section class="actus">
  <h2 class="title title--light">Toutes les actualités autour de Geotrek</h2>

  <div class="grid actus__items">
    {% assign featured_posts = (site.posts|where:"lang","fr") %} {% for post in featured_posts limit:3 %}
    <div class="grid__item grid__item--33">
      <a href="{{ post.url }}" title="{{ post.title }}">
        <h3 class="title title--medium">{{ post.title }}</h3>
      </a>
      <p class="subtitle">{% include date.html date=post.date %}{{ month }} {{ year }}</p>
      {% if post.excerpt %} 
        {{ post.excerpt }} 
      {% endif %} 
      {% if post.image %}
        <img src="{{ site.baseurl }}/{{ post.image }}" style="width: 100%; height: auto"> 
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <a href="{{ site.baseurl }}/actualites.html" class="actus__link">Voir toutes les actualités</a>
</section>


{% include logos-parcs.html %}