.contact {
    &__banner {
        height: 274px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../img/home-bg-2.jpg');
        background-size: cover;
        text-align: center;
        margin: 0;

        &__text {
            color: white;
            font-weight: normal;
            font-size: 2.5rem;
            line-height: 1.5em;
            margin: 0;
        }
    }

    .header__content {
        min-height: 250px;
    }

    &__content {
        padding: 1px 0;
        background: $beige-light;

        &__title {
            margin-top: 1rem;
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        &__form {

            p {
                display: flex;
                justify-content: space-between;
            }

            input:not([type=submit]), textarea {
                padding: 0.5rem 1rem;

                &:hover, &:focus {
                    outline-color: $orange;
                }
            }

            input:not([type=submit]) {
                flex: 0 1 48%;
            }

            textarea {
                flex: 0 1 100%;
            }

            input[type=submit]  {
                &:hover, &:focus {
                    color: $orange;
                    border-color: $orange;
                }
            }
        }
    }

    &__footer {
        .button {
            opacity: 0;
        }
    }
}
