.footer {
    background: $grey;
    overflow: hidden;
    padding: 2em 0;
    text-align: center;

    @include mq($sm) {
        padding: 4em 0;
        text-align: left;
    }

    &__wrapper {
        @include wrapper;
        overflow: hidden;
    }

    &__sitemap {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include mq($sm) {
            width: 20%;
            float: left;
        }

        &__title {
            color: $grey-light;
            font-size: $base-font-size * 1.2;
            font-weight: bold;
            padding-bottom: $base-padding;
        }

        a {
            color: white;
            text-decoration: none;
            line-height: 200%;
        }
    }

    &__mentions {
        color: white;

        @include mq($sm) {
            width: 30%;
            float: right;
            text-align: right;
        }


        &__button {
            margin-top: 1em;
            @include mq($sm) {
                margin-top: 0;
                margin-right: 0;
            }
            margin-bottom: 2em;
        }
    }
}


.logos {
    background: $beige-light;
    padding: 2em 0;
    &__wrapper {
        @include wrapper;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    &__item {
        list-style-type: none;
        padding: 12px;
        width: 135px;

        @include mq($sm) {
            flex-basis: 25%;
            padding: 12px 24px;
        }

        @include mq($md) {
            flex-basis: 10%;
            padding: 12px;
        }

        @include mq($lg) {
            flex-basis: 135px;
        }

        img {
            width: 100%;
            height: auto;
        }

        &:last-child {
            flex-shrink: 10;
        }
    }
}
