.grid {
    @include wrapper;
    margin: 4em auto;

    &__item {
        width: 100%;

        @include mq($sm) {
            padding: 0 .75em;
            box-sizing: border-box;

            &--3 {
                width: 33%;
                float: left;
            }
        }
    }
}
