.home {

    &__header {
        @include wrapper;
        padding: 0 $base-padding;
        position: relative;
        z-index: 0;

        > * {
            position: relative;
            z-index: 3;
        }

        img {
            max-width: 640px;
            width: 100%;
            height: auto;
        }
    }

    &__image {
        height: 100px;
        width: auto;
    }

}
