.home {

    &__header {
        @include wrapper;
        padding: 0 1.2rem;
        position: relative;
        z-index: 0;

        > * {
            position: relative;
            z-index: 3;
        }

        img {
            max-width: 640px;
            width: 100%;
            height: auto;
        }
    }

    &__intro {

        &__title {
            // font-size: 1.4rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

    }

    &__image {
        height: 100px;
        width: auto;
    }

}
