//  Table of Contents:
//
//   1. General
//   2. Grid


// 1. General
// ---------

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
}

p, h1, h2, h3 {
    color: $text-color;
}

h1, h2 {
    text-transform: uppercase;
}

.title {
    letter-spacing: 1px;
    line-height: 150%;
    font-size: $medium-font-size;
}


// 2. Grid
// ---------

.grid {
    @include wrapper;
    overflow: hidden;
    margin: 4em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mq($sm) {
        margin: 5em auto;
    }

    &--center {
        text-align: center;

        @include mq($lg) {
            padding: 0 6em;
        }
    }

    &--space-between {
        @include mq($sm) {
            justify-content: space-between;
        }
        .grid__item {
            background: white;
            padding: 2em;
            border-radius: 4px;
            margin-bottom: $base-padding;

            @include mq($sm) {
                width: 30%;
                margin-bottom: 0;
            }

            img {
                width: 125px;
            }
        }
    }

    &__item {
        width: 100%;
        padding-bottom: 16px;

        @include mq($sm) {
            padding: 0 2em;

            &--3 {
                width: 33%;
            }
        }

    }
}
