//  Table of Contents:
//
//   1. General
//   2. Title
//   3. Grid


// 1. General
// ---------

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $text-color;
    line-height: 1.8em;
}

// 2. Title
// ---------

.page {

    &__title {
        color: white;
        line-height: 1.5em;
        padding: 0 1.2rem;
        margin-top: 0;
        text-transform: uppercase;
        @include mq($sm) {
            font-size: 3.6rem;
            margin-bottom: -1.5rem;
        }

        small {
            font-size: 1.8rem;
            line-height: 1.5em;
            display: block;
            font-weight: 500;
        }
    }

}

.title {
    line-height: 1.5em;
    font-size: 1.5rem;

    &--medium {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;

        &::before {
            width: 27px;
            height: 3px;
            display: block;
            content: '';
            background: $green;
            margin-bottom: 0.8rem;
        }
    }

    &--medium-orange {
        &::before {
            background: $orange-light;
        }
    }

    &--medium-turquoise {
        &::before {
            background: $turquoise;
        }
    }

    &--medium-violet {
        &::before {
            background: $violet;
        }
    }

    &--min {
        color: $grey-light;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    &--light {
        text-align: center;
        padding: 0 1.2rem;
        font-weight: normal;
        font-size: 2rem;

        @include mq($sm) {
            font-size: 2.5rem;
        }
    }
}

.subtitle {
    color: $beige;
    font-weight: bold;
    padding: 0;
    margin: 0;
}


// 3. Grid
// ---------

.grid {
    @include wrapper;
    overflow: hidden;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include mq($sm) {
        margin: 5rem auto;
    }

    &--center {
        text-align: center;

        @include mq($lg) {
            padding: 0 6rem;
        }
    }

    &--space-between {
        @include mq($sm) {
            justify-content: space-between;
        }
        .grid__item {
            background: white;
            padding: 2rem;
            border-radius: 4px;
            margin-bottom: 1.2rem;

            @include mq($sm) {
                width: 32%;
                margin-bottom: 0;
            }

            @include mq($lg) {
                width: 30%;
            }
        }
    }

    &__item {
        width: 100%;
        padding: 1.2rem 0;

        @include mq($sm) {
            padding: 0 2rem;

            &--100 {
                width: 100%;
            }

            &--33 {
                width: 33%;
            }

            &--70 {
                width: 60%;
            }

            &--30 {
                width: 40%;
            }
        }

    }
}
