//  Table of Contents:
//
//   1. General
//   2. Button
//   3. Breakpoints


// 1. General
// ---------

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
}

p, h1, h2, h3 {
    color: $text-color;
}

h1, h2 {
    text-transform: uppercase;
}



// . Button
// ---------

.button {
    display: block;
    background: $orange;
    border-radius: 60px;
    width: 210px;
    height: 60px;
    line-height: 60px;
    margin: $base-padding auto;
    color: white;
    border: solid 2px $orange;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;


    &:hover {
        background-color: transparent;
        border-color: white;
        color: white;
    }

    &--white {
        background: white;
        border-color: white;
        color: $green-dark;
    }
}




// 3. Grid
// ---------

.grid {
    @include wrapper;
    overflow: hidden;
    margin: 4em auto;

    @include mq($sm) {
        margin: 5em auto;
    }

    &::before, &::after {
        clear: both;
        display: table;
        content: " ";
    }

    &--center {
        text-align: center;

        @include mq($lg) {
            padding: 0 6em;
        }
    }

    &__item {
        width: 100%;
        padding-bottom: 16px;

        @include mq($sm) {
            padding: 0 2em;

            &--3 {
                width: 33%;
                float: left;
            }
        }

    }

}
