.product {
    &__header {
        padding: 2em 0 0 0;

        h1 {
            color: white;
            line-height: 150%;
            padding: 0 $base-padding;
            margin-top: 0;
            margin-bottom: -20px;
            @include mq($sm) {
                font-size: 47px;
            }
            small {
                font-size: 24px;
                line-height: 150%;
                display: block;
                font-weight: 500;
            }
        }

        &__image {
            width: 125px;
            margin-top: 24px;
        }

        &__title {
            font-size: $medium-font-size * 1.2;
            margin-bottom: 0;
        }

        &__subtitle {
            margin: 0 auto;
            padding: $base-padding 0;
            max-width: 200px;
            border-bottom: solid 1px $beige-light;
        }

        &__desc {
            margin-bottom: 24px;
        }
    }

    &__section {
        &__header {
            text-align: center;
            padding: 2em $base-padding;
        }

        &__title {
            font-size: 37px;
            padding-bottom: 0;
            margin-bottom: 0;
            line-height: 150%;
        }

        &__subtitle {
            margin: 0;
        }


        &__image {
            width: 100%;
            height: auto;
            margin-top: -20px;
        }

        &:nth-child(odd) {
            background: $beige-light;
            margin-bottom: 0;
            overflow: hidden;

            @include mq($sm) {
                .grid__item--70 {
                    order: 2
                }
            }
        }
    }

    &__content {
        margin-top: 0;
        display: flex;
        align-items: center;
        .button {
            margin-left: 0;
        }
    }

}
