<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Docs</li>
            <li><a href="https://geotrek.readthedocs.io" target="_blank">Documentation</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH" target="_blank">Tutoriaux</a></li>
            <li><a href="https://github.com/makinacorpus/Geotrek/issues" target="_blank">Signaler une erreur</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Communauté</li>
            <li><a href="https://github.com/makinacorpus/Geotrek" target="_blank">Développement</a></li>
            <li><a href="https://www.transifex.com/makina-corpus/geotrek/" target="_blank">Traduction</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/geotrek-fr" target="_blank">Forum</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Connexion</li>
            <li><a href="https://github.com/makinacorpus/Geotrek" target="_blank">Github</a></li>
            <!-- <li><a href="#">Twitter</a></li> -->
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH" target="_blank">Youtube</a></li>
        </ul>

        <div class="footer__mentions">
            <a href="contact.html" class="button footer__mentions__button">Nous contacter</a>
            <div class="mentions__licence">Makina Corpus 2012-2018<br/>Code sous licence BSD. Docs sous Apache&nbsp;2
            </div>
        </div>
    </div>
</footer>