<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Docs</li>
            <li><a href="https://geotrek.readthedocs.io">Documentation</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH">Tutoriaux</a></li>
            <li><a href="https://github.com/makinacorpus/Geotrek/issues">Reporter une erreur</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Communauté</li>
            <li><a href="https://github.com/makinacorpus/Geotrek">Développement</a></li>
            <li><a href="https://www.transifex.com/makina-corpus/geotrek/">Traduction</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/geotrek-fr">Forum</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Connexion</li>
            <li><a href="https://github.com/makinacorpus/Geotrek">Github</a></li>
            <!-- <li><a href="#">Twitter</a></li> -->
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH">Youtube</a></li>
        </ul>

        <div class="footer__mentions">
            <a href="contact.html" class="button footer__mentions__button">Nous contacter</a>
            <div class="mentions__licence">CC 2011 - 2015 Makina&nbsp;Corpus<br/>Code licensed under BSD. Docs under Apache&nbsp;2</div>
        </div>
    </div>
</footer>
