<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Docs</li>
            <li><a href="https://geotrek.readthedocs.io" target="_blank">Documentación</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH" target="_blank">Tutoriales</a></li>
            <li><a href="https://github.com/makinacorpus/Geotrek/issues" target="_blank">Reportar un error</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Community</li>
            <li><a href="https://github.com/makinacorpus/Geotrek" target="_blank">Desarrollo</a></li>
            <li><a href="https://www.transifex.com/makina-corpus/geotrek/" target="_blank">Traducción</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/geotrek-fr" target="_blank">Forum</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Conexión</li>
            <li><a href="https://github.com/makinacorpus/Geotrek" target="_blank">Github</a></li>
            <!-- <li><a href="#">Twitter</a></li> -->
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH" target="_blank">Youtube</a></li>
        </ul>

        <div class="footer__mentions">
            <a href="contact.html" class="button footer__mentions__button">Contacta</a>
            <div class="mentions__licence">CC 2011 - 2016 Makina&nbsp;Corpus<br/>Código bajo licencia BSD. Docs bajo Apache&nbsp;2</div>
        </div>
    </div>
</footer>
