<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Docs</li>
            <li><a href="https://geotrek.readthedocs.io" target="_blank">Documentation</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH" target="_blank">Tutorials</a></li>
            <li><a href="https://github.com/makinacorpus/Geotrek/issues" target="_blank">Report an error</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Community</li>
            <li><a href="https://github.com/makinacorpus/Geotrek" target="_blank">Development</a></li>
            <li><a href="https://www.transifex.com/makina-corpus/geotrek/" target="_blank">Translation</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/geotrek-fr" target="_blank">Forum</a></li>
        </ul>

        <ul class="footer__sitemap">
            <li class="footer__sitemap__title">Connection</li>
            <li><a href="https://github.com/makinacorpus/Geotrek" target="_blank">Github</a></li>
            <!-- <li><a href="#">Twitter</a></li> -->
            <li><a href="https://www.youtube.com/playlist?list=PLHLOpkozXefCg3gPfCKdmfNqTxG6TAcVH" target="_blank">Youtube</a></li>
        </ul>

        <div class="footer__mentions">
            <a href="contact-en.html" class="button footer__mentions__button">Contact us</a>
            <div class="mentions__licence">CC 2011 - 2016 Makina&nbsp;Corpus<br/>Code licensed under BSD. Docs under Apache&nbsp;2</div>
        </div>
    </div>
</footer>
