<aside class="logos">
    <ul class="logos__wrapper">
        <li class="logos__item">
            <a target="_blank" href="http://rando.ecrins-parcnational.fr/" title="Parc National des Ecrins">
                <img src="{{ site.baseurl }}/assets/img/parc_ecrins.png" alt="Logo du Parc National des Ecrins"/>
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="http://rando.mercantour.eu/" title="Parc National du Mercantour">
                <img src="{{ site.baseurl }}/assets/img/parc_mercantour.png" alt="Logo du Parc National du Mercantour"/>
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="http://www.cevennes-parcnational.fr/" title="Parc national de Cévennes">
                <img src="{{ site.baseurl }}/assets/img/logo-pn-cevennes.png" alt="Logo PN Cévennes">
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="http://rando.loire-atlantique.fr/" title="Conseil Général de la Loire Atlantique">
                <img src="{{ site.baseurl }}/assets/img/logo-cg44.png" alt="Logo CG44">
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="http://ignrando.fr" title="IGNrando'">
                <img src="{{ site.baseurl }}/assets/img/logo-ignrando.png" alt="Logo IGNrando'">
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="http://www.parc-camargue.fr/" title="Parc naturel régional de Camargue">
                <img src="{{ site.baseurl }}/assets/img/logo-pnr-camargue.png" alt="Logo PNR Camargue">
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="http://www.parcduluberon.fr/" title="Parc naturel régional du Luberon">
                <img src="{{ site.baseurl }}/assets/img/logo-pnr-luberon.png" alt="Logo PNR Luberon">
            </a>
        </li>
        <li class="logos__item">
            <a target="_blank" href="http://www.parc-naturel-normandie-maine.fr/" title="PNR Normandie Maine">
                <img src="{{ site.baseurl }}/assets/img/logo-pnr-normandie-maine.png" alt="Logo PNR Normandie Maine">
            </a>
        </li>
    </ul>
</aside>