@import url(../vendors/normalize.css/normalize.css);
* {
  box-sizing: border-box; }

html {
  font-size: 14px;
  line-height: 1.5em; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

p, h1, h2, h3 {
  color: #383933; }

h1, h2 {
  text-transform: uppercase; }

.button {
  display: block;
  background: #e8491e;
  border-radius: 60px;
  width: 210px;
  height: 60px;
  line-height: 60px;
  margin: 16px auto;
  color: white;
  border: solid 2px #e8491e;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; }
  .button:hover {
    background-color: transparent;
    border-color: white;
    color: white; }
  .button--white {
    background: white;
    border-color: white;
    color: #677331; }

.grid {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
  margin: 4em auto; }
  @media (min-width: 980px) {
    .grid {
      width: 960px; } }
  @media (min-width: 1280px) {
    .grid {
      width: 1240px; } }
  @media (min-width: 768px) {
    .grid {
      margin: 5em auto; } }
  .grid::before, .grid::after {
    clear: both;
    display: table;
    content: " "; }
  .grid--center {
    text-align: center; }
    @media (min-width: 1280px) {
      .grid--center {
        padding: 0 6em; } }
  .grid__item {
    width: 100%;
    padding-bottom: 16px; }
    @media (min-width: 768px) {
      .grid__item {
        padding: 0 2em; }
        .grid__item--3 {
          width: 33%;
          float: left; } }

.header {
  width: 100%;
  background-image: url("../img/home-bg.jpg");
  background-size: cover; }
  .header__logo {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
    display: block;
    max-width: 640px;
    padding: 6em 16px;
    position: relative;
    z-index: 1; }
    @media (min-width: 980px) {
      .header__logo {
        width: 960px; } }
    @media (min-width: 1280px) {
      .header__logo {
        width: 1240px; } }
    .header__logo img {
      width: 100%;
      height: auto;
      margin: 4em 0; }

.menu {
  background: white;
  display: block;
  height: 56px;
  position: relative;
  z-index: 2; }
  @media (min-width: 768px) {
    .menu {
      height: 76px; } }
  .menu__liste {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: white;
    width: 100%;
    text-align: center;
    height: 0;
    transition: height .3s; }
    @media (min-width: 768px) {
      .menu__liste {
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px;
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 20px;
        justify-content: flex-end; } }
  @media (min-width: 768px) and (min-width: 980px) {
    .menu__liste {
      width: 960px; } }
  @media (min-width: 768px) and (min-width: 1280px) {
    .menu__liste {
      width: 1240px; } }
    .menu__liste__item {
      padding: 10px;
      display: block;
      text-decoration: none;
      color: #383933;
      display: none; }
      @media (min-width: 768px) {
        .menu__liste__item {
          display: block; } }
      .menu__liste__item--logo {
        position: absolute;
        display: block;
        top: -56px;
        left: 10px; }
        .menu__liste__item--logo img {
          height: 80px;
          width: auto; }
        @media (min-width: 768px) {
          .menu__liste__item--logo {
            left: 0;
            top: 0; }
            .menu__liste__item--logo img {
              height: 130px;
              width: auto; } }
      .menu__liste__item--active {
        font-weight: bold; }
  .menu__bar {
    display: block;
    position: absolute;
    right: 16px;
    width: 1.5rem;
    height: .2rem;
    margin-top: 18px;
    transition: top .4s ease-out, transform .4s ease-out;
    background-color: #383933; }
    .menu__bar:nth-child(1) {
      top: 0; }
    .menu__bar:nth-child(2) {
      top: .5rem; }
    .menu__bar:nth-child(3) {
      top: 1rem; }
  .menu--mobile {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 16px;
    justify-content: flex-end;
    cursor: pointer;
    position: relative; }
    @media (min-width: 768px) {
      .menu--mobile {
        display: none; } }
  .menu--toggled .menu__bar:nth-child(1) {
    top: .5rem;
    transform: rotate(45deg); }
  .menu--toggled .menu__bar:nth-child(2) {
    transform: translateX(100%) scale(0); }
  .menu--toggled .menu__bar:nth-child(3) {
    top: .5rem;
    transform: rotate(-45deg); }
  .menu--toggled .menu__liste {
    height: 200px; }
    @media (min-width: 768px) {
      .menu--toggled .menu__liste {
        height: auto; } }
    .menu--toggled .menu__liste__item {
      display: block; }

.actus {
  margin: 4em auto; }
  @media (min-width: 768px) {
    .actus {
      margin: 6em auto; } }
  .actus__title {
    text-align: center;
    padding: 0 16px;
    font-weight: normal;
    text-transform: none;
    font-size: 32px;
    line-height: 150%; }
    .actus__title--medium {
      padding: 4px 0;
      margin: 0;
      font-size: 20px; }
      .actus__title--medium::before {
        width: 27px;
        height: 3px;
        display: block;
        content: '';
        background: #b4cc1b;
        margin-bottom: 12px; }
  .actus__date {
    color: #cbcbc9;
    font-weight: bold;
    padding: 0;
    margin: 0; }
  .actus__link {
    position: relative;
    display: block;
    width: 245px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #999797;
    transition: color .5s; }
    .actus__link::before {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 9px;
      display: block;
      width: 100%;
      height: 1px;
      background: #cbcbc9; }
    .actus__link::after {
      position: relative;
      z-index: 3;
      margin: .5em auto;
      content: '+';
      display: block;
      border: solid 2px #cbcbc9;
      border-radius: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      background: white;
      box-shadow: 0 0 0 10px white;
      transition: background .5s; }
    .actus__link:hover, .actus__link:focus {
      color: #383933; }
      .actus__link:hover::after, .actus__link:focus::after {
        color: white;
        background: #cbcbc9; }

.footer {
  background: #272828;
  overflow: hidden;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      padding: 4em 0;
      text-align: left; } }
  .footer__wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 16px;
    overflow: hidden; }
    @media (min-width: 980px) {
      .footer__wrapper {
        width: 960px; } }
    @media (min-width: 1280px) {
      .footer__wrapper {
        width: 1240px; } }
  .footer__sitemap {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 768px) {
      .footer__sitemap {
        width: 20%;
        float: left; } }
    .footer__sitemap__title {
      color: #999797;
      font-weight: bold; }
    .footer__sitemap a {
      color: white;
      text-decoration: none; }
  .footer__mentions {
    color: white; }
    @media (min-width: 768px) {
      .footer__mentions {
        width: 30%;
        float: right;
        text-align: right; } }
    .footer__mentions__button {
      margin-top: 1em;
      margin-bottom: 2em; }
      @media (min-width: 768px) {
        .footer__mentions__button {
          margin-top: 0;
          margin-right: 0; } }

.home__image {
  height: 100px;
  width: auto; }

.home__banner {
  height: 274px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/home-bg-2.jpg");
  background-size: cover;
  text-align: center;
  margin: 0; }
  .home__banner__text {
    color: white;
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
    margin: 0; }

.home__title--medium {
  font-size: 20px; }
