@import url(../vendors/normalize.css/normalize.css);
* {
  box-sizing: border-box; }

html {
  font-size: 13px;
  line-height: 1.5em; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

p, h1, h2, h3, h4, li {
  color: #383933; }

p, li {
  font-size: 13px;
  line-height: 180%; }

h1, h2 {
  text-transform: uppercase; }

.title {
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 20px; }
  .title--medium {
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 150%; }
    .title--medium::before {
      width: 27px;
      height: 3px;
      display: block;
      content: '';
      background: #b4cc1b;
      margin-bottom: 12px; }
  .title--medium-orange::before {
    background: #ee6b4d; }
  .title--medium-turquoise::before {
    background: #3bb6b3; }
  .title--medium-violet::before {
    background: #9d6bc9; }
  .title--min {
    color: #999797;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px; }

.grid {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (min-width: 980px) {
    .grid {
      width: 960px; } }
  @media (min-width: 1280px) {
    .grid {
      width: 1240px; } }
  @media (min-width: 1440px) {
    .grid {
      width: 1400px; } }
  @media (min-width: 768px) {
    .grid {
      margin: 5em auto; } }
  .grid--center {
    text-align: center; }
    @media (min-width: 1280px) {
      .grid--center {
        padding: 0 6em; } }
  @media (min-width: 768px) {
    .grid--space-between {
      justify-content: space-between; } }
  .grid--space-between .grid__item {
    background: white;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .grid--space-between .grid__item {
        width: 32%;
        margin-bottom: 0; } }
    @media (min-width: 1280px) {
      .grid--space-between .grid__item {
        width: 30%; } }
  .grid__item {
    width: 100%;
    padding: 16px 0; }
    @media (min-width: 768px) {
      .grid__item {
        padding: 0 2em; }
        .grid__item--100 {
          width: 100%; }
        .grid__item--33 {
          width: 33%; }
        .grid__item--70 {
          width: 60%; }
        .grid__item--30 {
          width: 40%; } }

.button {
  display: block;
  background: #e8491e;
  border-radius: 60px;
  width: 210px;
  height: 60px;
  line-height: 60px;
  margin: 16px auto;
  color: white;
  border: solid 2px #e8491e;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-ccolor 0.3s; }
  .button:hover {
    background-color: transparent;
    border-color: white;
    color: white; }
  .button--medium {
    height: 44px;
    line-height: 40px;
    font-size: .8em;
    width: 150px; }
  .button--small {
    height: 44px;
    line-height: 40px;
    font-size: .8em;
    width: 150px; }
    @media (min-width: 768px) {
      .button--small {
        height: 38px;
        line-height: 36px;
        font-size: .8em;
        width: 130px; } }
  .button--white {
    background: white;
    border-color: white;
    color: #677331; }
  .button--orange {
    background: #ee6b4d;
    border-color: #ee6b4d;
    color: white; }
    .button--orange:hover {
      background-color: transparent;
      border-color: #ee6b4d;
      color: #ee6b4d; }
  .button--turquoise {
    background: #3bb6b3;
    border-color: #3bb6b3;
    color: white; }
    .button--turquoise:hover {
      background-color: transparent;
      border-color: #3bb6b3;
      color: #3bb6b3; }
  .button--violet {
    background: #9d6bc9;
    border-color: #9d6bc9;
    color: white; }
    .button--violet:hover {
      background-color: transparent;
      border-color: #9d6bc9;
      color: #9d6bc9; }

.header {
  width: 100%;
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  color: white;
  overflow: hidden; }
  .header.test1 {
    background-image: url("../img/home-bg-test1.jpg");
  }
  .header.test2 {
    background-image: url("../img/home-bg-test2.jpg");
  }
  .header.test3 {
    background-image: url("../img/home-bg-test3.jpg");
  }
  .header.test4 {
    background-image: url("../img/home-bg-test4.jpg");
  }
  .header__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 320px; }
    @media (min-width: 768px) {
      .header__content {
        min-height: 654px; } }
    @media (min-width: 980px) {
      .header__content {
        min-height: 754px; } }
  .header--produit {
    background-image: url("../img/produit-bg.jpg");
    overflow: hidden; }

.menu {
  background: white;
  display: block;
  height: 56px;
  position: relative;
  z-index: 2; }
  @media (min-width: 768px) {
    .menu {
      height: 76px; } }
  .menu__liste {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: white;
    width: 100%;
    text-align: center;
    height: 0;
    transition: height .3s; }
    @media (min-width: 768px) {
      .menu__liste {
        position: relative;
        margin: 0 auto;
        min-width: 320px;
        width: 100%;
        padding: 0 16px;
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 20px;
        justify-content: flex-end; } }
  @media (min-width: 768px) and (min-width: 980px) {
    .menu__liste {
      width: 960px; } }
  @media (min-width: 768px) and (min-width: 1280px) {
    .menu__liste {
      width: 1240px; } }
  @media (min-width: 768px) and (min-width: 1440px) {
    .menu__liste {
      width: 1400px; } }
    .menu__liste__item {
      padding: 10px;
      display: block;
      text-decoration: none;
      color: #383933;
      display: none;
      font-size: 15.6px; }
      @media (min-width: 768px) {
        .menu__liste__item {
          display: block; } }
      .menu__liste__item--logo {
        position: absolute;
        display: block;
        top: -56px;
        left: 10px; }
        .menu__liste__item--logo img {
          height: 80px;
          width: auto; }
        @media (min-width: 768px) {
          .menu__liste__item--logo {
            left: 0;
            top: 0; }
            .menu__liste__item--logo img {
              height: 130px;
              width: auto; } }
      .menu__liste__item--active {
        font-weight: bold; }
  .menu__bar {
    display: block;
    position: absolute;
    right: 16px;
    width: 1.5rem;
    height: .2rem;
    margin-top: 18px;
    transition: top .4s ease-out, transform .4s ease-out;
    background-color: #383933; }
    .menu__bar:nth-child(1) {
      top: 0; }
    .menu__bar:nth-child(2) {
      top: .5rem; }
    .menu__bar:nth-child(3) {
      top: 1rem; }
  .menu--mobile {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 16px;
    justify-content: flex-end;
    cursor: pointer;
    position: relative; }
    @media (min-width: 768px) {
      .menu--mobile {
        display: none; } }
  .menu--toggled .menu__bar:nth-child(1) {
    top: .5rem;
    transform: rotate(45deg); }
  .menu--toggled .menu__bar:nth-child(2) {
    transform: translateX(100%) scale(0); }
  .menu--toggled .menu__bar:nth-child(3) {
    top: .5rem;
    transform: rotate(-45deg); }
  .menu--toggled .menu__liste {
    height: 224px; }
    @media (min-width: 768px) {
      .menu--toggled .menu__liste {
        height: auto; } }
    .menu--toggled .menu__liste__item {
      display: block; }

.actus {
  margin: 0 auto 4em auto; }
  @media (min-width: 768px) {
    .actus {
      margin: 6em auto; } }
  .actus__title {
    text-align: center;
    padding: 0 16px;
    font-weight: normal;
    text-transform: none;
    font-size: 25.6px;
    line-height: 150%; }
    @media (min-width: 768px) {
      .actus__title {
        font-size: 32px;
        line-height: 150%; } }
  .actus__date {
    color: #cbcbc9;
    font-weight: bold;
    padding: 0;
    margin: 0; }
  .actus__link {
    position: relative;
    display: block;
    width: 245px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #999797;
    font-size: 15.6px;
    transition: color .5s; }
    .actus__link::before {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 9px;
      display: block;
      width: 100%;
      height: 1px;
      background: #cbcbc9; }
    .actus__link::after {
      position: relative;
      z-index: 3;
      margin: .5em auto;
      content: '+';
      display: block;
      border: solid 2px #cbcbc9;
      border-radius: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      background: white;
      box-shadow: 0 0 0 10px white;
      transition: background .5s; }
    .actus__link:hover, .actus__link:focus {
      color: #383933; }
      .actus__link:hover::after, .actus__link:focus::after {
        color: white;
        background: #cbcbc9; }

.footer {
  background: #272828;
  overflow: hidden;
  padding: 2em 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      padding: 4em 0;
      text-align: left; } }
  .footer__wrapper {
    position: relative;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    padding: 0 16px;
    overflow: hidden; }
    @media (min-width: 980px) {
      .footer__wrapper {
        width: 960px; } }
    @media (min-width: 1280px) {
      .footer__wrapper {
        width: 1240px; } }
    @media (min-width: 1440px) {
      .footer__wrapper {
        width: 1400px; } }
  .footer__sitemap {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 768px) {
      .footer__sitemap {
        width: 20%;
        float: left; } }
    .footer__sitemap__title {
      color: #999797;
      font-size: 15.6px;
      font-weight: bold;
      padding-bottom: 16px; }
    .footer__sitemap a {
      color: white;
      text-decoration: none;
      line-height: 200%; }
  .footer__mentions {
    color: white; }
    @media (min-width: 768px) {
      .footer__mentions {
        width: 30%;
        float: right;
        text-align: right; } }
    .footer__mentions__button {
      margin-top: 1em;
      margin-bottom: 2em; }
      @media (min-width: 768px) {
        .footer__mentions__button {
          margin-top: 0;
          margin-right: 0; } }

.logos {
  background: #f0efec;
  padding: 2em 0; }
  .logos__wrapper {
    position: relative;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    @media (min-width: 980px) {
      .logos__wrapper {
        width: 960px; } }
    @media (min-width: 1280px) {
      .logos__wrapper {
        width: 1240px; } }
    @media (min-width: 1440px) {
      .logos__wrapper {
        width: 1400px; } }
  .logos__item {
    list-style-type: none;
    padding: 12px;
    width: 135px; }
    @media (min-width: 768px) {
      .logos__item {
        flex-basis: 25%;
        padding: 12px 24px; } }
    @media (min-width: 980px) {
      .logos__item {
        flex-basis: 10%;
        padding: 12px; } }
    @media (min-width: 1280px) {
      .logos__item {
        flex-basis: 135px; } }
    .logos__item img {
      width: 100%;
      height: auto; }
    .logos__item:last-child {
      flex-shrink: 10; }

.home__header {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  padding: 0 16px;
  padding: 0 16px;
  position: relative;
  z-index: 0; }
  @media (min-width: 980px) {
    .home__header {
      width: 960px; } }
  @media (min-width: 1280px) {
    .home__header {
      width: 1240px; } }
  @media (min-width: 1440px) {
    .home__header {
      width: 1400px; } }
  .home__header > * {
    position: relative;
    z-index: 3; }
  .home__header img {
    max-width: 640px;
    width: 100%;
    height: auto; }
  .home__header::after {
    position: absolute;
    content: '';
    display: block;
    border-style: solid;
    border-color: #848e40;
    opacity: .5;
    border-width: 150px;
    top: -500px;
    right: -400px;
    width: 400px;
    height: 400px;
    border-radius: 400px; }
    @media (min-width: 768px) {
      .home__header::after {
        border-width: 300px;
        width: 600px;
        height: 600px;
        border-radius: 600px;
        top: -800px;
        right: -700px; } }
    @media (min-width: 980px) {
      .home__header::after {
        border-width: 380px;
        top: -1000px;
        right: -760px;
        width: 800px;
        height: 800px;
        border-radius: 800px; } }

.home__image {
  height: 100px;
  width: auto; }

.home__banner {
  height: 274px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/home-bg-2.jpg");
  background-size: cover;
  text-align: center;
  margin: 0; }
  .home__banner__text {
    color: white;
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
    margin: 0; }

.product__header {
  padding: 2em 0 0 0; }
  .product__header h1 {
    color: white;
    line-height: 150%;
    padding: 0 16px;
    margin-top: 0; }
    @media (min-width: 768px) {
      .product__header h1 {
        font-size: 47px;
        margin-bottom: -20px; } }
    .product__header h1 small {
      font-size: 24px;
      line-height: 150%;
      display: block;
      font-weight: 500; }
  .product__header__image {
    width: 125px;
    margin-top: 24px; }
  .product__header__title {
    font-size: 24px;
    margin-bottom: 0; }
  .product__header__subtitle {
    margin: 0 auto;
    padding: 16px 0;
    max-width: 200px;
    border-bottom: solid 1px #f0efec; }
  .product__header__desc {
    margin-bottom: 24px; }

.product__section__header {
  text-align: center;
  padding: 2em 16px; }

.product__section__title {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 27px;
  line-height: 150%; }
  @media (min-width: 768px) {
    .product__section__title {
      font-size: 37px;
      line-height: 150%; } }

.product__section__subtitle {
  margin: 0; }

.product__section__image {
  width: 100%;
  height: auto;
  margin-top: -20px; }

.product__section:nth-child(odd) {
  background: #f0efec;
  margin-bottom: 0;
  overflow: hidden; }
  @media (min-width: 768px) {
    .product__section:nth-child(odd) .grid__item--70 {
      order: 2; } }

.product__content {
  margin-top: 0;
  display: flex;
  align-items: center; }
  .product__content .button {
    margin-left: 0; }

.features {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .features__item {
    width: 192px;
    padding: 0 16px 16px 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase; }
  .features__image {
    border: solid 1px transparent;
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 4px;
    padding: 6px;
    margin-right: 12px; }
  .features--orange .features__image {
    border-color: #e8491e; }
  .features--turquoise .features__image {
    border-color: #3bb6b3; }
  .features--violet .features__image {
    border-color: #9d6bc9; }
