.home {

    &__header {
        @include wrapper;
        padding: 0 1.2rem;
        position: relative;
        z-index: 0;
        justify-content: flex-start;

        > * {
            position: relative;
            z-index: 3;
        }

        &__content {
            margin-top: 10rem;
        }

        img {
            max-width: 640px;
            width: 100%;
            height: auto;
        }
    }

    &__baseline {
        margin: 0 0 5rem 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
    }

    &__intro {

        &__headline {
            max-width: 800px;
            text-align: center;
            margin: 4rem auto;
            padding: 2rem;
            font-size: 2rem;

            small {
                padding-top: .5rem;
                display: block;
                line-height: 150%;
                font-weight: 500;
            }
        }

        &__title {
            // font-size: 1.4rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

    }

    &__image {
        height: 100px;
        width: auto;
    }

}

.logos {
    background: $beige-light;
    padding: 1rem 0;

    &__wrapper {
        padding: 0 5%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    &__item {
        list-style-type: none;
        padding: 1rem;
        width: 135px;

        @include mq($sm) {
            flex-basis: 25%;
            padding: 1rem 2rem;
        }

        @include mq($md) {
            flex-basis: 10%;
            padding: 1rem;
        }

        @include mq($lg) {
            flex-basis: 135px;
        }

        img {
            max-width: 100%;
            max-height: 80px;
            height: auto;
        }

        &:last-child {
            flex-shrink: 10;
        }
    }
}
