// Media queries mixins

@mixin mq($size) {
    @media (min-width: #{$size}) {
        @content;
    }
}

@mixin wrapper {
    position: relative;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    padding: 0 1.2rem;

    @include mq($md) {
        width: $md - 20px;
    }
    @include mq($lg) {
        width: $lg - 40px;
    }
    @include mq($xl) {
        width: $xl - 40px;
    }
}
