.footer {
    background: $grey;
    overflow: hidden;
    padding: 2rem 0;
    text-align: center;

    @include mq($sm) {
        padding: 4rem 0;
        text-align: left;
    }

    &__wrapper {
        @include wrapper;
        overflow: hidden;
    }

    &__sitemap {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include mq($sm) {
            width: 20%;
            float: left;
        }

        &__title {
            color: $grey-light;
            font-size: 1.2rem;
            font-weight: bold;
            padding-bottom: 1.2rem;
        }

        a {
            color: white;
            text-decoration: none;
            line-height: 2rem;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    &__mentions {
        color: white;

        @include mq($sm) {
            width: 30%;
            float: right;
            text-align: right;
        }


        &__button {
            margin-top: 1rem;
            @include mq($sm) {
                margin-top: 0;
                margin-right: 0;
            }
            margin-bottom: 2em;
        }
    }
}
