//  Table of Contents:
//
//   1. Fonts
//   2. Colors
//   3. Breakpoints


// 1. Fonts
// ---------

$base-font-family: 'Raleway', sans-serif;


// 2. Colors
// ---------

$text-color: #383933;
$green: #b4cc1b;


// 3. Breakpoints
// ---------

// Commons screens size :
// 800×480, 1024×768, 1152×864, 1280×800, 1280×960, 1440×900,
// 1680×1200, 1920×1080, 2560×1440

// $xs: 800px;
$sm: 768px;
$md: 980px;
$lg: 1280px;
$xl: 1440px;
// $xxl: 1920px;
